/* ↓↓サイドメニュー基本レイアウト　ここから */
/* toggle */
#js-toggle-nav{
  cursor: pointer;
  font-size: 65px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-top: 30px;
  margin-right: 30px;
}
.open-nav, .close-nav{
  display: none;
}
/* メニューの開閉ボタン */
.open-nav{
  background-image: url('/inc/img/menu_open_black.png');
  background-size:contain;
}
.close-nav{
  background-image: url('/inc/img/menu_close_black.png');
  background-size:contain;
}
/* メニューの背景 */
#nav-back{
  z-index: 20;
  display: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s;
}
@media(max-width: 1000px){
  nav{
    z-index: 90;
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 120%;
    transition: right 0.2s;
    background-color: #fff;
  }
  #js-toggle-nav{
    z-index: 99;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }
}
@media(max-width: 425px){
  header nav{
    right: -100%;
    width: 100%;
  }
}
/* ↑↑サイドメニュー基本レイアウト　ここまで */

/* ///////////////////////////////////////////////////////////// */

/* アコーディオンメニューを開いたときの見出し　レイアウト */
/* メニューの見出し */
.js-menu-head{
  cursor: pointer;
  padding-left: 10px;
}
/* 大見出しのレイアウト */
.js-menu-head::before{
  content: '▼';
  font-size: 12px;
  width: 12px;
  display: inline-block;
  margin-top: 0;
  margin-left: -15px;
  margin-right: 5px;
}

/* メニューのレイアウト */
.js-menu-wrapper > a{
  margin-top: 10px;
}
.js-menu-wrapper a::before{
  content: '>';
  font-size: 75%;
  line-height: 30px;
  padding-right: 5px;
}
.js-toggle-small-menu{
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 5px solid #09c;
  cursor: pointer;
}
.js-menu-content a{
  margin-left: 10px;
  border-left: none;
}
.js-menu-content a::before{
  content: '>';
  font-size: 75%;
  line-height: 30px;
  padding-right: 5px;
}

/* 色設定 */
/* すべてのbefore要素に色を適用する */
.works-link::before, .works-link *::before{
  color: #09c;
}
.art-link::before, .art-link *::before{
  color: #f60;
}
/* 隣接した見出しの色を適用する */
.works-link + .js-menu-wrapper a::before{
  color: #09c;
}
.art-link + .js-menu-wrapper a::before{
  color: #f60;
}
.works-link + .js-menu-wrapper .js-menu-content a::before{
  color: #09c;
}
.art-link + .js-menu-wrapper .js-menu-content a::before{
  color: #f60;
}
/* ↑↑サイドメニュー基本レイアウト　ここまで */

/* レスポンシブ */
@media(max-width:1000px){
  header,section{
    clear: both;
    width: 100%
  }
  header nav{
    margin: 0;
  }
  nav ul li a{
    width: 50%;
  }
  nav ul li a:hover{
    width: 50%;
  }
  .container, header h1{
    margin-top: 0;
    padding-top: 0;
  }
  header h1{
    display: none;
  }
  #index header h1{
    display: block;
  }
  .top_content{
    float:left;
    width:auto;
  }
  .postcard-box{
    display: block;
    height: auto;
  }
  .postcard-box img{
    max-width: 500px;
    height: auto;
  }
  .card-text{
    max-width: 500px;
  }
}
/* header微調整 */
@media(min-width:1100px){
  header{
    padding-left: 10px;
  }
}