@charset "UTF-8";
/* ↓↓基本レイアウト　ここから */
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body, pre{
  font-size: 20px;
  font-family: '游明朝', 'ヒラギノ明朝体 W3', serif;
  color: #000000;
  background-color: #ffffff;
  width:100%;
  height:100%;
}
pre{
  font-size: 100%;
}
h1,h2,h3,h4,h5{
  font-weight: normal;
}
ul, ol{
  list-style-type: none;
}
.sp-top{
  display: none;
}
@media(max-width:960px){
  .sp-top{
    display: block;
  }
}
.main-bg-img{
  background-image: url(../img/background.png);
  background-position: top 50px right 0px;
  background-repeat: no-repeat;
}
@media(max-width:1000px){
  /* 全体の背景を調整 */
  .main-bg-img{
    background-position: top 50px right -150px;
  }
}
*img{
  width: 100%;
  height: auto;
}

.container{
  max-width:1100px;
  margin:0 auto;
  padding:0 10px;
  padding-top: 45px;
}
.content{
  width:100%;
  overflow: hidden;
}
a,a:hover,a:active{
  text-decoration: none;
  color: #000000;
}
h1{
  font-size: 250%;
  margin-left: 10px;
  margin-top: 30px;
  padding-top:30px;
}
h2,h3,h4{
  cursor: default;
  margin-left: 10px;
}
h2{
  font-size: 180%;
  margin-bottom: 30px;
}
h3{
  font-size: 150%;
  margin-bottom: 20px;
}
h4{
  font-size:110%;
  margin-left:20px;
  margin-bottom: 10px;
}
p{
  margin:0;
}
nav{
  margin:20px 0 20px 20px;
}
nav ul li{
  display: block;
  width:100px;
  text-align: left;
}
footer{
  font-size: 85%;
  text-align: center;
  line-height:30px;
  pointer-events: none;
  margin: 30px 0;
}
header{
  max-width:275px;
  float:left;
}
section{
  float: right;
  width:70%;
  margin:0 auto;
  padding:25px;
  padding-left: 35px;
}
nav ul{
  width: 100%;
}
nav ul li{
  width:100%;
  padding:20px 0;
  margin-left: 20px;
}
nav a{
  display: block;
  background: transparent;
  width: 150px;
  transition:all 1s ease-out;
  padding-left: 10px;
}
nav ul li a:hover{
  width: 80%;
  color: #000;
  background: #dadada;
}
nav ol li a:hover{
  width:100%;
}
footer{
  clear: both;
}
/* ↑↑基本レイアウト　ここまで */

/* ↓↓トップページ */
#index .content{
  height:calc( 80vh - 100px );
}
#js-top-preview{
  background-position-x: left;
}
/* トップページdiv#preview用のjQueryで付与するクラス */
.image-first{
  background-image: url(../img/top.png);
  background-repeat: no-repeat;
}
.image-profile{
  background-image: url(../img/profile.png);
  background-repeat: no-repeat;
}
.image-works{
  background-image: url(../img/works.png);
  background-repeat: no-repeat;
}
.image-art{
  background-image: url(../img/art.png);
  background-repeat: no-repeat;
}
.image-contact{
  background-image: url(../img/contact.png);
  background-repeat: no-repeat;
}
/* ↓トップページ　作品サムネイル用の.top_contentとdiv */
.top_content{
  float:right;
  width:70%;
}
#js-top-preview{
  float:right;
  margin-top:50px;
  margin-right:300px;
  width:400px;
  height:400px;
  opacity: 0.85;
}
/* ↑サムネここまで */
/* ↑↑トップページ　ここまで */

/* プロフィールページ */
#profile-page section p{
  padding-left:150px;
  text-indent: -8em;
}
#profile-page dt{
  margin:18px 0;
}
#profile-page dt::before{
  content:"●"
}
#profile-page dd{
  margin-left: 16px; /* 間の：を入れないのでその代わり */
}
#profile-page dl{
  margin-top: 30px;
}
#profile-page dd{
  margin-top: 5px;
  word-break: break-all;
  line-height: 35px;
  padding:10px 0;
}
#profile-page .skill .dd-content{
  min-height: 70px;
  border-top:1px solid rgba(103, 157, 173, 0.5);
  padding-top:20px;
  padding-bottom:20px;
  text-indent: -20px;
  padding-left:20px;
}
dl.skill dd.dd-content:last-child{
  border-bottom:1px solid rgba(103, 157, 173, 0.5);
}
#profile-page dl dd:first-of-type{
  border:none;
}
.star-wrapper{
  margin: 20px 0;
}
.dl-block{
  margin:0px 30px 30px 30px;
}
.dd-span{
  float:right;
  margin-right: 20px;
}
/* ↓↓区切り線 */
#profile-page div.dl-block::before{
  content: "";
  display: block;
  border-top:1px solid rgba(0, 103, 144, 0.472);
  margin-bottom: 30px;
}
#profile-page div.dl-block:last-of-type::after{
  content: "";
  display: block;
  border-top:1px solid rgba(0, 103, 144, 0.472);
  margin-bottom: 10px;
}
#profile-page div.dl-block:last-of-type::after{
  content: "";
  border:none;
}
@media(min-width:992px){
  #profile-page .row{
      margin-left:25px;
  }
}
.skill-star{
  margin-right: 25px;
  margin-bottom: 10px;
}
/* ↑↑区切り線 */
/* ↑↑プロフィールページ */

/* ↓↓作品ページ */
img.img-thumbnail{
  width: auto;
  float: left;
}
.section-box{
  height:auto;
  margin:0 0 40px 20px;
  padding:0;
}
.section-box::after{
  clear: both;
}

/* ↓↓作品一覧ページのサムネイル ここから */
/* flexで並べる */
.thumbnail_sort{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start
}

/* マウスオーバーしたときに出す文字の設定 */

/* 画像とまったく同じサイズのdivで囲み、a:hoverで画像を半透明にする */
/* すると、ページ上のような感じになる */

.select_thumb{
  border:1px solid #dcdcdc;

  /* 全辺のborder分を足した幅と高さ */
  width: 252px;
  margin-right: 30px;
  margin-bottom: 30px;

  /* 縦横それぞれ2pxずつ */
  border-radius: 10px;
  text-align: center;

  /* 色とフォント系 */
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  background: #a3a3a3;

  /* 影 */
  box-shadow:10px 10px 10px 0 rgba(200, 200, 200, 0.5);
}
/* 角をまるくする */
.select_thumb img{
  border-radius: 9px;
}
/* WEBとDTPのサムネイルをそれぞれ使い分け */
.small_thumb{
  height: 202px;
  /* テキストを中央へ(高さはborder含めない) */
  line-height: 200px;
}
.medium_thumb{
  height: 356px;
  /* テキストを中央へ(高さはborder含めない) */
  line-height: 356px;
}
.big_thumb{
  width:100%;
  height: 502px;
  /* テキストを中央へ(高さはborder含めない) */
  line-height: 500px;
}
.small_thumb img{
  transform:translateY(-200px);
}
.medium_thumb img{
  transform:translateY(-356px);
}
/* マウスカーソルをあわせた際に画像を透明にして色をつける */
div.thumbnail_sort a:hover{
  opacity: 0.45;
  transition: 0.5s;
}
/* ↑↑作品一覧ページのサムネイル ここまで */

/* 作品の個別ページ */
.preview-box{
  margin: 0 auto;
}
/* 見本の画像 */
.preview-img{
  margin: 0 auto 50px auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.preview-img img{
  box-shadow: 5px 5px 30px 10px rgba(200, 200, 200, 0.5);
  margin-top: 30px;
  margin-right: 30px;
}
.preview-text{
  max-width: 800px;
}
.preview-img a:hover{
  opacity: 0.65;
  transition: 0.5s;
}
/* ↑↑作品ページ */

/* ↓↓絵葉書ページ */
.postcard-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}
.postcard-box{
  width: 300px;
  height: 600px;
  border:1px solid #dcdcdc;
  border-radius: 5px;
  margin: 10px;
  font-size: 90%;
}
.postcard-box h3{
  cursor: pointer;
}
.postcard-box a{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.postcard-box a:hover{
  background-color: #fcf3e4;
  opacity: 0.7;
  transition: 0.3s;
}
.postcard-box img{
  width: 300px;
  margin: 0;
  padding: 0;
}
.card-text{
  padding: 10px;
  box-sizing: border-box;
}
.btn_green{
  margin: 30px;
  text-align: center;
}
.btn_green a{
  padding: 8px 20px;
  border:2px solid #38a361;
  font-family: "游ゴシック";
  font-weight: bold;
  color: #38a361;
  border-radius: 10px;
}
.btn_green a:hover{
  background: #38a361;
  color: #fff;
  transition: 0.3s;
}
/* ↑↑絵葉書ページ */

/* ↓↓お問い合わせ */
/* レイアウト */
form p{
  margin-bottom:20px;
}
input {
  display: block;
  width: 380px;
  height:auto;
  font-size: 80%;
}
textarea {
  display: block;
  width: 380px;
  height: 120px;
  font-size: 100%;
  padding: 5px;
}
input[type="submit"]{
  width: 100px;
  padding: 5px 10px;
}

/* 確認画面のレイアウト */
#contact-page table{
  margin-left: 30px;
  width: 85%;
  border-collapse: collapse;
  font-size: 90%;
}
#contact-page th,#contact-page td{
  border: 1px solid #000;
  padding: 10px;
}
#contact-page tr th{
  text-align: left;
  width: 35%;
}
#contact-page tr td{
  text-align: left;
  width: 65%;
}
#contact-page thead th{
  text-align: center;
}
.confirm-btn-wrapp{
  display: flex;
  width: 80%;
  margin-top: 30px;
  margin-left: 30px;
}
.confirm-btn-wrapp input:first-child{
  margin-left: auto;
  margin-right: 100px;
}
.confirm-btn-wrapp input:last-child{
  margin-right: auto;
}
/* ↑↑お問い合わせ */


/* #js-top-previewの調整 */
@media(max-width:960px){
  #index header h1{
    margin-top: 30px;
    margin-bottom:20px;
  }
  #js-top-preview{
    margin: 0 calc( (100vw - 400px) / 2 );
    margin-top: 50px;
    margin-left:250px;
  }
}


/* どこでも使おう */
.float-clear{
  clear: both;
  height: 0;
  margin: 0;
  padding: 0;
}
.float-clear::after{
  clear: both;
  height: 0;
  margin: 0;
  padding: 0;
}
.hide{
  display: none;
}
.blue-text a, section a{
  color: rgb(0, 92, 122);
  font-weight: bold;
}
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.mb30{
  margin-bottom: 30px;
}
.mr10{
  margin-right: 10px;
}
.mr20{
  margin-right: 20px;
}