*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ＭＳ　Ｐ明朝', serif;
}
a, a:hover, a:active{
  text-decoration: none;
}
ul,ol{
  list-style: none;
}
body{
  background-color: #fdf8f1;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.08em
}
.container{
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
header .container{
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  text-align: left;
}
article{
  min-height: 120vh;
}
/* headerに関する設定は別CSSに記述 → lp_menu.css */
footer{
  font-size: 85%;
  height: 50px;
  padding: 20px 0;
  line-height: 10px;
  color: rgb(230, 218, 204);
  background-color: rgb(43, 43, 43);
}
img{
  width: 100%;
  height: auto;
}
/* トップスライダーの設定 */

#top_image{
  display: flex;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: rgb(245, 192, 114, 0.5);
}

#top_image img{
  max-width: 768px;
  margin: 0 auto;
}

/* figure の設定 */
.content{
  display: flex;
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 20px;
}
figure{
  width: 45%;
  margin: 0 auto;
}
figure img{
  display: block;
}
figcaption{
  padding: 10px 0;
  color: rgb(58, 37, 12);
  background-color: rgb(245, 192, 114);
  font-size: 120%;
}